@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//navigation bar styling
.nav-section {
  @include nav-bar;
  &__logo {
    color: $nav-text-color;
  }
  ul {
    @include flex(row, space-between);
    gap: 2rem;
    a {
      color: black;
    }
  }
}

//background images for different pages
.hawaii {
  @include bg-image(hawaii);
}

.iceland {
  @include bg-image(iceland);
}

.greece {
  @include bg-image(greece);
}

//styling for main section of pages
.schedule {
  padding: 6rem 6rem;
  height: 90vh;
  h1 {
    color: white;
    margin: 4rem auto;
  }
  &__days {
    @include flex(row, center);
    gap: 2rem;
    & > * {
      padding: 1rem;
      background-color: white;
    }
    article {
      @include rec-card;
      @include itinerary;
    }
  }
}

//footer styling
footer {
  @include footer-bar;
}

//hours information
.hours {
  width: 30vw;
  &__info {
    @include flex(row, space-between);
  }
}

//social media icons
.social__icons {
  display: flex;
  justify-content: space-between;
  * {
    height: 1.5rem;
  }
  width: 6rem;
}
