@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.nav-section {
  @include nav-bar;
  &__logo {
    color: $nav-text-color;
  }
  ul {
    @include flex(row, space-between);
    gap: 2rem;
    a {
      color: black;
    }
  }
}
.hawaii {
  @include bg-image(hawaii);
}
.iceland {
  @include bg-image(iceland);
}
.greece {
  @include bg-image(greece);
}
.schedule {
  padding: 10rem 6rem;
  height: 100vh;
  h1 {
    color: white;
    margin: 0 auto;
  }
  &__days {
    @include flex(row, center);
    gap: 2rem;
    & > * {
      padding: 1rem;
      background-color: white;
    }
    div {
      @include rec-card;
      @include itinerary;
    }
  }
}
footer {
  @include footer-bar;
}
.hours {
  width: 30vw;
  &__info {
    @include flex(row, space-between);
  }
}
.social__icons {
  display: flex;
  justify-content: space-between;
  * {
    height: 1.5rem;
  }
  width: 6rem;
}
