@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//background images for different pages
.hawaii {
  @include bg-image(hawaii);
}

.iceland {
  @include bg-image(iceland);
}

.greece {
  @include bg-image(greece);
}

//styling for main section of pages
.schedule {
  padding: 6rem 6rem;
  height: 90vh;
  h1 {
    color: white;
    margin: 4rem auto;
  }
  &__days {
    @include flex(row, center);
    gap: 2rem;
    & > * {
      padding: 1rem;
      background-color: white;
    }
    article {
      @include rec-card;
      @include itinerary;
    }
  }
}
