@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//styling for main section
.form {
  margin-top: 6rem;
  background-color: $hero-bg-color;
  color: $hero-slogan-color;
  & > * {
    margin: 6rem;
  }
  &__contents {
    @include flex(row, space-around);
  }
  //ensure form is same height as image
  &__text {
    height: 33.75rem;
  }
}

//styling for actual form
.trip-form {
  @include flex(column, space-between);
  width: 50vw;
  display: flex;
  &__button {
    @include button;
  }
  & input,
  select {
    margin-bottom: 2rem;
  }
}

//sizing for the image
.trip__image {
  width: 33%;
  height: 33%;
}
