@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.nav-section {
  @include nav-bar;
  &__logo {
    color: $nav-text-color;
  }
  ul {
    @include flex(row, space-between);
    gap: 2rem;
    a {
      color: black;
    }
  }
  &__current-link {
    @include current-page($nav-current-color);
  }
}
.form {
  margin-top: 6rem;
  background-color: $hero-bg-color;
  & > * {
    margin: 6rem;
  }
  &__contents {
    @include flex(row, space-around);
  }
  &__text {
    height: 540px;
  }
}
.trip-form {
  @include flex(column, space-between);
  width: 50vw;
  display: flex;
  &__button {
    @include button;
  }
  & input,
  select {
    margin-bottom: 2rem;
  }
}
.trip__image {
  width: 33%;
  height: 33%;
}
footer {
  @include footer-bar;
}
.hours {
  width: 30vw;
  &__info {
    @include flex(row, space-between);
  }
}
.social__icons {
  display: flex;
  justify-content: space-between;
  * {
    height: 1rem;
  }
  width: 6rem;
}
