@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.nav-section {
  @include nav-bar;
  &__logo {
    color: $nav-text-color;
  }
  ul {
    @include flex(row, space-between);
    gap: 2rem;
    a {
      color: black;
    }
  }
}
.hero {
  @include hero-section;
  &__text {
    width: 50%;
  }
  &__image {
    width: 33%;
    height: 33%;
  }
}
.recommend {
  @include rec-section;
}
.hawaii {
  @include bg-image(hawaii);
}
.iceland {
  @include bg-image(iceland);
}
.greece {
  @include bg-image(greece);
}
.rec-cards a {
  opacity: 50%;
  &:hover {
    transition: opacity 0.3s linear;
    opacity: 1;
  }
}
footer {
  @include footer-bar;
}
.hours {
  width: 30vw;
  &__info {
    @include flex(row, space-between);
  }
}
.social__icons {
  display: flex;
  justify-content: space-between;
  * {
    height: 1rem;
  }
  width: 6rem;
}
