@use "./partials/global";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

//hero section
.hero {
  @include hero-section;
  &__text {
    width: 50%;
  }
  &__image {
    width: 33%;
    height: 33%;
  }
}

//recommended section
.recommend {
  @include rec-section;
  &__hawaii {
    @include bg-image(hawaii);
  }
  &__iceland {
    @include bg-image(iceland);
  }
  &__greece {
    @include bg-image(greece);
  }
}

//individual cards in the recommendations section
.rec-cards a {
  opacity: 50%;
  &:hover {
    transition: opacity 0.3s linear;
    opacity: 1;
  }
}
