@use "./variables" as *;
@use "./mixins" as *;
* {
  box-sizing: border-box;
  font-family: Verdana;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 3.75rem;
  font-weight: bold;
}
h2 {
  font-size: 2.75rem;
  font-weight: bold;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

//navigation bar styling
.nav-section {
  @include nav-bar;
  &__logo {
    color: $nav-text-color;

    //hide logo for tablet or smaller
    @include tablet {
      display: none;
    }
  }
  ul {
    @include flex(row, space-between);
    gap: 2rem;
    a {
      color: black;
    }
  }
}

//footer styling
footer {
  @include footer-bar;

  //change flex direction to column in mobile
  @include mobile {
    @include flex(column, center);
  }
}

//hours information
.hours {
  width: 35vw;
  &__info {
    @include flex(row, space-between);

    //increase hours info width for mobile
    @include mobile {
      width: 90vw;
    }
  }
}

//social media logos
.social__icons {
  display: flex;
  justify-content: space-between;
  * {
    height: 1.5rem;

    //increase social media icons for mobile
    @include mobile {
      height: auto;
      margin: 2rem;
    }
  }
  width: 8rem;
}
