@use "./variables" as *;

//navigation section mixin
@mixin nav-bar {
  position: fixed;
  top: 0;
  @include flex(row, space-between);
  background-color: $nav-bg-color;
  color: $nav-text-color;
  width: 100vw;
  padding: 0 6rem;
  z-index: 1000;

  //center navigation after logo is removed for tablet or smaller
  @include tablet {
    justify-content: center;
  }
  //nav link base styling
  nav a {
    border-bottom: 0;
    transition-duration: 0.5s;
    //nav link animation
    &:hover {
      @include current-page($nav-text-color);
    }
  }
  //nav link current page underline
  .nav-section__current-link {
    @include current-page($nav-current-color);
  }
}

//mixin for nav link underline
@mixin current-page($color) {
  border-bottom: 4px solid $color;
  padding-bottom: 0.5rem;
}

//mixin for footer styling
@mixin footer-bar {
  @include flex(row, space-around);
  background-color: $footer-bg-color;
  padding-left: 12rem;
  padding-right: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  //give more space for footer for tablet or smaller
  @include tablet {
    padding: 0;
  }
  & > * {
    //reduce footer margin for tablet or smaller
    @include tablet {
      margin: 0 1rem;
    }
  }
  //footer section headers
  h3 {
    color: $footer-title-color;
  }
  //footer email and days headers
  h6 {
    color: $footer-subtitle-color;
    margin: 0 auto;
  }
  // footer email and days info
  p {
    margin: 0.5rem auto;
    color: $footer-title-color;
  }
  .hours {
    //increase hours size for tablet or smaller for readability
    @include tablet {
      flex: 1;
    }
  }
}

//landing page hero section
@mixin hero-section {
  background-color: $hero-bg-color;
  text-align: left;
  color: $hero-slogan-color;
  padding: 10rem 6rem;
  @include flex(row, space-between);

  //rearrange elements to flex column for tablet or smaller
  @include tablet {
    @include flex(column, flex-start);
    align-items: center;
  }
  &__title {
    //reduce title size for tablet or smaller
    @include tablet {
      font-size: 1.5rem;
    }
  }
  section {
    //increase text column width for tablet or smaller
    @include tablet {
      width: 100%;
    }
  }
  button {
    @include button;
  }
  img {
    //rearrange hero image to top and expand for tablet or smaller
    @include tablet {
      order: -1;
      width: 50%;
    }
  }
}

//landing page recommendations section
@mixin rec-section {
  padding-bottom: 6rem;
  //styling for recommendations tag
  & > h3 {
    color: $rec-title-color;
    padding-left: 6rem;

    //remove padding for space considerations mobile
    @include mobile {
      padding: 0;
      text-align: center;
    }
  }
  //recommendation section card styling
  section {
    @include flex(row, center);
    gap: 2rem;

    //change card display to column for tablet or smaller
    @include tablet {
      @include flex(column, flex-start);
      align-items: center;
    }
    article {
      @include rec-card;
      // card location name styling
      h3 {
        position: absolute;
        color: white;
        margin-bottom: 0;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }
}

//styling for main schedule section
@mixin itinerary {
  @include flex(column, flex-start);

  //styling for day of the week
  h3 {
    text-align: center;
    border-bottom: 4px solid black;
    margin: 0;
  }

  //items in the schedule
  h4 {
    margin: 0;
  }

  //list of schedule items
  ul {
    padding: 0;
    @include flex(column, space-around);
    flex: 1;
    li {
      text-align: center;
      background-color: $activities-bg-color;
      padding: 1rem;

      //reduce space for itinerary items for tablet or smaller
      @include tablet {
        padding: 0;
      }
    }
  }
}

//GENERAL MIXINS

//general flex mixin
@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

//general card mixin
@mixin rec-card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 45vh;
  width: 20vw;

  //increase card width for tablet or smaller
  @include tablet {
    width: 80vw;
  }
}

//general mixin for applying backgrounds to divs
@mixin bg-image($place) {
  $url: "../assets/images/#{$place}.jpg";
  background: url($url);
  background-size: cover;
  background-position: center;
}

//general mixin for buttons
@mixin button {
  background-color: $hero-button-color;
  border-radius: 1.25rem;
  color: white;
  border: 0px;
  padding: 0.75rem 3rem;
}

//media queries
@mixin tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
