@use "./variables" as *;
@mixin nav-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: $nav-bg-color;
  color: $nav-text-color;
  width: 100vw;
  padding: 0 6rem;
  z-index: 1000;
  nav a {
    border-bottom: 0;
    transition-duration: 0.5s;
    &:hover {
      @include current-page($nav-text-color);
    }
  }
  .nav-section__current-link {
    @include current-page($nav-current-color);
  }
}
@mixin current-page($color) {
  border-bottom: 4px solid $color;
  padding-bottom: 0.5rem;
}
@mixin footer-bar {
  @include flex(row, space-around);
  background-color: $footer-bg-color;
  padding-left: 12rem;
  padding-right: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  h3 {
    color: $footer-title-color;
  }
  h6 {
    color: $footer-subtitle-color;
    margin: 0 auto;
  }
  p {
    margin: 0.5rem auto;
  }
}
@mixin hero-section {
  background-color: $hero-bg-color;
  text-align: left;
  color: $hero-slogan-color;
  padding: 10rem 6rem;
  @include flex(row, space-between);
  button {
    @include button;
  }
}
@mixin rec-section {
  padding-bottom: 6rem;
  & > h3 {
    color: $rec-title-color;
    padding-left: 6rem;
  }
  & > div {
    @include flex(row, center);
    gap: 2rem;
    div {
      @include rec-card;
      h3 {
        position: absolute;
        color: white;
        margin-bottom: 0;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }
}

@mixin itinerary {
  display: flex;
  flex-direction: column;
  h3 {
    text-align: center;
    border-bottom: 4px solid black;
    margin: 0;
  }
  h4 {
    margin: 0;
  }
  ul {
    padding: 0;
    @include flex(column, space-around);
    flex: 1;
    li {
      text-align: center;
      background-color: $activities-bg-color;
      padding: 1rem;
    }
  }
}

@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}
@mixin rec-card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  height: 60vh;
  width: 18vw;
}
@mixin bg-image($place) {
  $url: "../assets/images/#{$place}.jpg";
  background: url($url);
  background-size: cover;
  background-position: center;
}

@mixin button {
  background-color: $hero-button-color;
  border-radius: 1.25rem;
  color: white;
  border: 0px;
  padding: 0.75rem 3rem;
}
